$grid-size: 20vw;

* {
  margin: 0;
}

h1 {
  display: inline-block;
  margin-left: $grid-size * 1.5;
}

h1:first-child {
  margin-left: $grid-size / 2.1;
}

.body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* Start Game */

.start-game-screen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* Game Menu */

.game-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
}

/* Grids */

.grid-container {
  display: flex;
  align-items: center;
}

.grid,
.target-board {
  display: grid;
  grid-template: repeat(11, 1fr) / repeat(11, 1fr);
  gap: 1px;
  width: $grid-size;
  height: $grid-size;
}

.target-board {
  $size: ($grid-size * 2);
  width: $size;
  height: $size;
  margin-left: $grid-size / 1.5;
  margin-right: $grid-size / 3;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 100%;
  border: 1px solid black;
  background-color: #0080ff;
}

.hit {
  color: #ff0040;
}

.miss {
  color: #d3d3d3;
}

/* Grid Scales */

.scale {
  display: flex;
  background-color: white;
  align-items: flex-end;
  justify-content: space-around;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
}

.top {
  grid-area: 1 / 1 / span 1 / -1;
}

.side {
  grid-area: 2 / span 1 / -1;
  flex-flow: column nowrap;
}

/* Victory Screen */

.victory {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  div {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.25;
    background-color: white;
  }

  h1 {
    margin: 0;
  }
}

/* Ship overview */

.health-bar {
  display: flex;
  align-items: baseline;
}

.health-segment {
  width: 5px;
  height: 5px;
  background-color: green;
  border: 1px solid black;
}

.health-segment:nth-child(2) {
  margin-left: 5px;
}

.health-segment.hit {
  background-color: #ff0040;
}

.sunk {
  text-decoration: line-through;
}
