@import "bootstrap";

$min-square-size: 20px;
$max-square-size: 32px;
$grid-size: 20vw;
$gray: #a9a9a9;
$blue: #0080ff;
$body: #000000;
$grids: #000000;
$grid-lines: #136fa8;

/* General */

body {
  background-color: $body;
}

.container-xl {
  max-width: 960px;
}

.oval-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $grid-lines;
  border-radius: 50px;
  height: 28px;
}

.modal {
  display: flex;
}

.modal-content {
  min-width: 300px;
}

.modal-body {
  display: flex;
  flex-flow: column nowrap;
}

.popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(169, 169, 169, 0.4);

  .modal {
    position: relative;
  }
}

button.close {
  border: unset;
  background-color: unset;
  font-size: 20px;
}

.name-form {
  margin: 0 auto;
}

/* Header */

.nav {
  $padding: 5px;
  justify-content: flex-end;
  padding-top: $padding;
  padding-bottom: $padding;
}

.nav-item {
  width: 72px;

  &.description {
    margin-left: 5px;
    width: 120px;
  }
}

.nav-link {
  padding: 0;
  color: $grid-lines;

  &:hover {
    color: #ffffff;
  }
}

/* Grid Scales */

.scale {
  display: flex;
  background-color: white;
  align-items: flex-end;
  justify-content: space-around;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  user-select: none;

  * {
    max-height: 20px;
  }

  &.top {
    grid-area: 1 / 1 / span 1 / -1;
    max-height: 20px;
  }

  &.side {
    grid-area: 2 / span 1 / -1;
    flex-flow: column nowrap;

    * {
      margin-right: 5px;
    }
  }
}

/* Grids */

.grid,
.scale {
  background-color: $grids;
  color: $grid-lines;
}

.grid {
  color: #49dc44;
}

.health-bar,
.player-name {
  color: #ffffff;
}

.target-container {
  justify-content: center;
}

.grid,
.target-board {
  $min: ($min-square-size + 1) * 10 + 20;
  $max: ($max-square-size + 1) * 10;
  display: grid;
  grid-template: repeat(11, 1fr) / repeat(11, 1fr);
  gap: 1px;
  min-width: $min;
  min-height: $min;
  max-width: $max;
  max-height: $max;
  width: $grid-size;
  height: $grid-size;
}

.target-board {
  $size: ($grid-size * 2);
  width: $size;
  height: $size;

  .scale.top {
    margin-top: 5px;
  }

  .scale.side {
    margin-right: 10px;
  }
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $max-square-size;
  max-height: $max-square-size;
  min-width: $min-square-size;
  min-height: $min-square-size;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 100%;
  user-select: none;
  border: 1px solid $grid-lines;

  &.ship-begin {
    background-color: adjust-color($blue, $hue: -20deg);
  }
}

.hit {
  color: #ff0040;
}

.miss {
  color: #d3d3d3;
}

/* Victory Screen */

.victory {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  div {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.25;
    background-color: white;
  }

  h1 {
    margin: 0;
  }
}

/* Ship overview */

.ship-viewer {
  min-width: 125px;
}

.health-bar {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.health-segment {
  $size: 10px;
  width: $size;
  height: $size;
  background-color: green;
  border: 1px solid black;

  &:nth-child(2) {
    margin-left: 5px;
  }

  &.hit {
    background-color: #ff0040;
  }
}

.sunk {
  text-decoration: line-through;
}

.xl-padding {
  display: none;
}

.player-name {
  margin-left: auto;
}

.player-name.col-8 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 90px;
}

@media (min-width: 545px) {
  .xl-padding {
    display: flex;
  }
}

@media (min-width: 1188px) {
  .player-name.col-8 {
    padding-left: 60px;
    margin-right: unset;
  }
}

@media (min-width: 1660px) {
  body {
    max-height: calc(100vh - 32px);
    padding-bottom: 18px;
  }
}
